body{
    background-color: #f5cda0;
}


.image{
    cursor: pointer;
    height:70px;
     width:130px;
    margin-left: 20px;
  }
  

.dinnerimg{
    margin: 15px;

}

.dinnertext{
    width: 50%;
    margin: 25px;
    float: left;
}
.spaghettiimg{
    width: 50%;
    margin: 25px;
    float: left;
}
.spaghettitext{
    margin-top: 130px;
}

h4{
    margin-left: 60px;
}
