body
{
    background-color: #f5cda0;
}
.container
{ 
    padding:10px;
    
    
}
.recipes
{
    clear:both;
    width:50%;
    float:left;
    font-size:18px;
    .image{
        cursor: pointer;
        height:70px;
         width:130px;
        margin-left: 20px;  
}
.imagerigatoni
{
    float:right;
    width:50%;
    padding-left: 40px;
}