body{
    background-color: #f5cda0;
}


.image{
    cursor: pointer;
    height:70px;
     width:130px;
    margin-left: 20px;
  }
  .scroll{
    margin-top:200px;
    margin-left:50px;
}
h2{
    font-style: bold ;
    margin-left: 50px;
}