body
{
    background-color: #f5cda0;
}
.container
{ 
    padding:10px;}
    .image{
        cursor: pointer;
        height:70px;
         width:130px;
        margin-left: 20px;
      }   
    

.recipes
{
    clear:both;
    width:50%;
    float:left;
    font-size:18px;
    
}
.imagestrips
{
    float:right;
    width:50%;
}
.inst1
{
clear: both;
width: 50%;
float: left;
font-size: 18px;
}
.inst2
{
    width: 50%;
    float: right;
    font-size: 18px;
}