body{
    background-color: #f5cda0;
}


.image{
    cursor: pointer;
    height:70px;
     width:130px;
    margin-left: 20px;
  }
  .scroll{
    margin-top:200px;
    margin-left:50px;
}


.dinnerimg{
    margin: 15px;

}

.dinnertext{
    width: 50%;
    margin: 25px;
    float: left;
}

h4{
    margin-left: 60px;
}
